
<footer id="footer">
        <div class="container main">
            <div class="four columns">
                <h4>Menu</h4>
                <ul>
                  <li><a href="/blog/">Blog</a></li>
                  <li><a href="/#competences">Compétences</a></li>
                  <li><a href="/#references">Réalisations</a></li>
                  <li><a href="/mentions-legales">Mentions légales</a></li>
                </ul>
            </div>
            <div class="four columns">
                <h4>Catégories</h4>
                <ul>
                  <li><a href="/category/video">Vidéos</a></li>
                  <li><a href="/category/openerp-2/">OpenERP</a></li>
                  <li><a href="/category/systemes-dinformations">Systèmes d'informations</a></li>
                  <li><a href="/category/architecture-logicielle/">Architecture logicielle</a></li>
                </ul>
            </div>
            <div class="four columns">
                <h4>Contact</h4>
                <ul>
                  <li><i class="fa fa-phone"></i> {{ site.phone }}</li>
                  <li><a href="mailto:{{ site.email }}"><i class="fa fa-inbox"></i> bouguerra.ludovic@gmail.com</a></li>
                  <li><i class="fa fa-skype"></i> ludovic.bouguerra</li>
                </ul>
            </div>
            <div class="four columns">
                <h4>Réseaux sociaux</h4>
                <ul class="social-footer">
                  <li><a href="https://twitter.com/{{site.twitter_username}}"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="{{site.linkedin}}"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="https://github.com/{{site.github_username}}"><i class="fa fa-github"></i></a></li>
                  <li><a href="https://plus.google.com/+{{site.gplus_username}}?rel=author"><i class="fa fa-google-plus-square"></i></a></li>

                </ul>
            </div>
        </div>
        <div class="container">
          <div class="sixteen columns text-center">
            © 2017 Ludovic Bouguerra
          </div>
        </div>


    </footer>
<!-- End Document
================================================== -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37459187-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>



</body>
</html>
