<html lang="fr">
  <head>
	<meta charset="utf-8">
	<title>Ludovic Bouguerra - Développeur freelance Symfony 2 et Java sur Marseille </title>
	<meta name="author" content="Ludovic Bouguerra">

  <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <meta name="description" content="Développeur freelance PHP Symfony 2 - Python Django - Java. Infogérance Débian, Proxmox, OpenERP - Odoo. Spécialiste en architecture des applications.">
  <meta name="robots" content="noodp">
  <link rel="canonical" href="http://www.ludovicbouguerra.fr/">
  <link rel="publisher" href="https://plus.google.com/u/0/+LudovicBouguerra">
  <meta property="og:locale" content="fr_FR">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Ludovic Bouguerra - Développeur freelance Symfony - Django">
  <meta property="og:description" content="Développeur freelance PHP Symfony 2 - Python Django - Java. Infogérance Débian, Proxmox, OpenERP - Odoo. Spécialiste en architecture des applications.">
  <meta property="og:url" content="http://www.ludovicbouguerra.fr/">
  <meta property="og:site_name" content="Ludovic Bouguerra">
</head>
<body>
	<!-- Primary Page Layout
	================================================== -->
    <header id="header">
        <div class="container">
            <div id="logo" class="six columns"><a href="http://www.ludovicbouguerra.fr"><h1>Ludovic Bouguerra</h1><h2>Développeur freelance Symfony 2 et Java sur Marseille</h2></a>
            </div>
            <div class="ten columns">
				      <div class="menu-menu-principal-container">
               <ul class="menu">
                  <li><a href="/#competences">Compétences</a></li>
                  <li><a href="/#references">Réalisations</a></li>
                  <li><a href="http://www.ludovicbouguerra.fr/blog/">Blog</a></li>
                  <li><a href="/#contact">Contact</a></li>
                </ul>
              </div>
            </div>
        </div>
    </header>
