<html lang="fr">
  <head>
	<meta charset="utf-8">
	<title>{{ page.title }}  {{ site.title }} - {{ site.description }} </title>
	<meta name="author" content="Ludovic Bouguerra">

  <script type="text/javascript" async="" src="//www.google-analytics.com/ga.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <meta name="description" content="Développeur informatique #Web #Video #Embarqué #Architecture #Docker #Odoo Spécialiste en architecture des applications.">
  <meta name="robots" content="noodp">
  <link rel="canonical" href="https://www.ludovicbouguerra.fr/">
  <link rel="publisher" href="https://plus.google.com/u/0/+LudovicBouguerra">
  <meta property="og:locale" content="fr_FR">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Ludovic Bouguerra - Entrepreneur et développeur informatique / Formateur">
  <meta property="og:description" content="Entrepreneur - Développeur informatique - Formateur #Web #Video #Embarqué #Architecture #Docker #Odoo Spécialiste en architecture des applications.">
  <meta property="og:url" content="https://www.ludovicbouguerra.fr/">
  <meta property="og:site_name" content="Ludovic Bouguerra">
</head>
<body>
	<!-- Primary Page Layout
	================================================== -->
    <header id="header">
        <div class="container">
            <div class="sixteen columns">
				      <div class="menu-menu-principal-container">
               <ul class="menu">
                 <li><a href="/#formations">Formations</a></li>
                  <li><a href="/#prestations">Services</a></li>
                  <li><a href="/#references">R&eacute;f&eacute;rences</a></li>
                  <li><a href="/blog/">Blog</a></li>
                </ul>
              </div>
            </div>
            <div class="sixteen columns">
              <a href="/"><img class="profile" src="/images/profile.jpg" /></a>
              <h1><a href="/">Ludovic Bouguerra</a></h1>
              <h2><a href="/">Entrepreneur et développeur informatique</a></h2>
              <h2><a href="/">#Web #Video #Embarqué #Architecture #Docker #Odoo</a></h2>
              <h3><i class="fa fa-envelope"> &nbsp;</i><a href="mailto:bouguerra.ludovic@gmail.com">bouguerra.ludovic@gmail.com</a>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-phone">&nbsp;&nbsp;</i><a href="tel:0681931560">06 81 93 15 60</a></h3>

            </div>
        </div>
    </header>
