<aside id="sidebar" class="five columns" role="sidebar">
    <div id="secondary" class="widget-area" role="complementary">
    <div><h3 class="widgetitle">Catégories</h3>
      <ul>
         <li class="cat-item"><a href="http://www.ludovicbouguerra.fr/category/architecture-logicielle/">Architecture logicielle</a>
        </li>
        <li class="cat-item"><a href="http://www.ludovicbouguerra.fr/category/developpement/">Développement</a>
        </li>
         <li class="cat-item"><a href="http://www.ludovicbouguerra.fr/category/video/diffusion-sur-internet/">Diffusion sur internet</a>
         </li>
         <li class="cat-item"><a href="http://www.ludovicbouguerra.fr/category/video/ffmpeg/">FFmpeg</a>
         </li>
         <li class="cat-item cat-item-1"><a href="http://www.ludovicbouguerra.fr/category/non-classe/">Non classé</a>
         </li>
         <li class="cat-item cat-item-41"><a href="http://www.ludovicbouguerra.fr/category/openerp-2/">OpenERP</a>
        </li>
        <li class="cat-item cat-item-13"><a href="http://www.ludovicbouguerra.fr/category/virtualisation/proxmox/">Proxmox</a>
        </li>
        <li class="cat-item cat-item-17"><a href="http://www.ludovicbouguerra.fr/category/video/referencement/">référencement</a>
        </li>
        <li class="cat-item cat-item-31"><a href="http://www.ludovicbouguerra.fr/category/systemes-dinformations/">Systèmes d'informations</a>
        </li>
        <li class="cat-item cat-item-6"><a href="http://www.ludovicbouguerra.fr/category/video/">Vidéo</a>
        </li>
         <li class="cat-item cat-item-12"><a href="http://www.ludovicbouguerra.fr/category/virtualisation/">Virtualisation</a>
         </li>
       </ul>
     </div>

  </div><!-- #secondary -->
</aside>
