---
title: Formation développeur embarqué
permalink: /formations/developpeur-embarque-yocto-buildroot-android-oem-odm.html

---
{% include header.html %}
    <div class="container top-content formation">
      <section>
        <div class="sixteen columns header-subtitle"><h1>Formation développeur embarqué</h1><h2>Toutes les étapes pour développer son propre produit de la séléction du matériel <br /> jusqu'au suivi de production</h2></div>
      </section>
    </div>
    <hr />
    <div class="formation container">
      <section>
        <div class="sixteen columns header-subtitle"><h1>Contenu de la formation</h1></div>
        <div>
    <div>
      <div class="eight columns item">
              <h3>La séléction du matériel</h3>
              <p>Faire fabriquer son produit peut sembler séduisant. Il existe d'autres solutions qui peuvent être moins coûteuses. L'OEM et l'ODM peuvent vous permettrent de prendre moins de risques. Cette partie présentera les solutions matérielles possibles à chaque situation.</p>
      </div>
      <div class="eight columns item">
              <h3>Développer son application</h3>
              <p>Cette étape est la plus importante car il s'agit de la valeur que vous apportez à vos clients. Nous verrons en fonction des types d'applications que vous allez développer quelles sont les frameworks / outils les plus pertinents. Une partie traitera de la sécurité des applications.</p>
      </div>
      <div class="eight columns item">
              <h3>Construire son système</h3>
              <p>Construire sa distribution basée sur Linux n'a jamais été aussi simple. Nous commencerons par une étude du noyau puis nous étudierons les systèmes de constructions : Buildroot, Yocto, Android et ArmBian. Nous verrons laquelle peut être adaptée selon votre cas. </p>
      </div>
      <div class="eight columns item">
              <h3>Le suivi de production / support</h3>
              <p>Nous verrons comment mettre en place un suivi de production efficace pour pouvoir gêrer une flotte plus où moins importante de boitiers. Le suivi de flotte ne demande infrastructure peu coûteuse et engendre de grandes économies.</p>
      </div>
    </div>
  </section>
</div>
<hr />
<section id="technologies" class="grey">

  <div class="container">
        <div class="sixteen columns"><h1>Technologies</h1></div>
        <div class="formation technologies">
            <div class="four columns">
              <img src="/images/formations/developpeur-embarque-yocto-buildroot-android-oem-odm/android.png" />
            </div>
            <div class="four columns">
              <img src="/images/formations/developpeur-embarque-yocto-buildroot-android-oem-odm/buildroot.png" />
            </div>
            <div class="four columns">
              <img src="/images/formations/developpeur-embarque-yocto-buildroot-android-oem-odm/raspberry.png" />
            </div>
            <div class="four columns">
              <img src="/images/formations/developpeur-embarque-yocto-buildroot-android-oem-odm/yoctoproject.png" />
            </div>
        </div>
    </div>
</section>

{% include footer.html %}
