---
title: Formation développeur multimédia - du capteur au spectateur
permalink: /formations/developpeur-multimedia-du-capteur-au-spectateur-fpga-gstreamer.html

---
{% include header.html %}
<div class="container top-content formation">
  <section>
    <div class="container">
      <div class="sixteen columns header-subtitle"><h1>Du capteur au spectateur</h1><h2>Compréhension de l'ensemble des concepts de capture d'une vidéo numérique <br />à la diffusion sur internet.</h2></div>
    </div>
  </section>
</div>
  <hr />
  <div class="formation container">
  <section>
    <div class="sixteen columns header-subtitle"><h1>Contenu de la formation</h1></div>
    <div>
      <div class="eight columns item">
              <h3>Aquisition du son et de l'image</h3>
              <p>Nous décomposerons la vidéo, et nous verrons comment chaque capteur enregistre et transmet les informations au système de traitement. Les différents formats d'images et audios non compréssés n'auront plus de secrets pour vous.</p>
      </div>
      <div class="eight columns item">
              <h3>Traitement de l'image et du son</h3>
              <p>Cette partie traitera des informations que l'on peut obtenir en faisant parler image et son. Nous y découvrirons les technologies existantes, des solutions open sources aux solutions propriétaires où en lignes. Vous saurez tout sur le contenu.</p>
      </div>
      <div class="eight columns item">
              <h3>La circulation de l'information</h3>
              <p>Que ce soit en numérique ou en analogique différents types de cables permettent de faire circuler les images et les sons au format brut. Nous découvrirons les contraintes, les connectiques de chaque média.</p>
      </div>
      <div class="eight columns item">
              <h3>Diffusion vidéo sur les réseaux</h3>
              <p>Une vidéo étant un média qui engendre le transport d'un volume de données important. Nous aborderons les stratégies à mettre en place pour une diffusion réussie sur tous les canaux, que ce soit en broadcast où sur internet.</p>
      </div>
    </div>
  </section>
</div>
<hr />
<section id="competences" class="grey">

  <div class="container">
        <div class="sixteen columns"><h1>Technologies</h1></div>
        <div class="formation technologies">
            <div class="one-third column">
              <img src="/images/formations/developpeur-multimedia-du-capteur-au-spectateur-fpga-gstreamer/ffmpeg.png" />
            </div>
            <div class="one-third column">
              <img src="/images/formations/developpeur-multimedia-du-capteur-au-spectateur-fpga-gstreamer/gstreamer.png" />
            </div>
            <div class="one-third column">
              <img src="/images/formations/developpeur-multimedia-du-capteur-au-spectateur-fpga-gstreamer/hdmi.png" />
            </div>
        </div>
    </div>
{% include footer.html %}
