---
title: Formation développeur multimédia - du capteur au spectateur
permalink: /produits/react-native-multimedia-framework-gstreamer.html

---
{% include header.html %}
<div class="container top-content produit">
  <section>
    <div class="container">
      <div class="sixteen columns header-subtitle"><h1>Lecteur vidéo / Framework multimédia React Native</h1><h2>Développez des applications multimédias avancées <br />dans un seul langage, publiez sur toutes les plateformes.</h2></div>
    </div>
  </section>
</div>
  <hr />
  <div class="produit container compatibility">
  <section>
    <div class="sixteen columns header-subtitle"><h1>Compatible</h1></div>
    <div>
      <div class="eight columns item img">
          <img class="react-native-gstreamer-ios" src="/images/produits/react-native-multimedia-framework-gstreamer/ios.png" />
      </div>
      <div class="eight columns item img">
          <img class="react-native-gstreamer-android" src="/images/produits/react-native-multimedia-framework-gstreamer/android.png" />
      </div>
      <div class="sixteen columns header-subtitle">Ce framework multimédia qui associe la puissance de Gstreamer et la simplicité du développement React Native.</div>
</div>
  </section>
  </div>
  <hr />
  <div class="produit container compatibility">
    <section>
      <div class="sixteen columns header-subtitle"><h1>Cas d'usages</h1></div>
    
      <div class="eight columns item">
              <h3>Développer un lecteur vidéo RTSP</h3>
      </div>
      <div class="eight columns item">
              <h3>Développer un lecteur RTP</h3>
      </div>
      <div class="eight columns item">
        <h3>Développer un lecteur vidéo mp4</h3>
      </div>
      <div class="eight columns item">
        <h3>Capturer la caméra de l'utilisateur et la diffuser</h3>
      </div>
      <div class="eight columns item">
        <h3>Création d'une application de montage vidéo</h3>
      </div>
      <div class="eight columns item">
        <h3>Ajouter des overlays sur vos vidéos</h3>
      </div>      
      <div class="eight columns item">
        <h3>Streaming RTMP</h3>
      </div>
      <div class="eight columns item">
        <h3>Visionnez une composition de plusieurs vidéos</h3>
      </div>  
  </section>
  </div>
    <hr />
    <div class="produit container compatibility">
      <section> 
    <div class="sixteen columns header-subtitle"><h1>Formats supportés</h1></div>
    
    <div class="eight columns item">
      <h3>Formats vidéos supportés</h3>
    </div>
    <div class="eight columns item">
      <h3>MP4</h3>
    </div>
    <div class="eight columns item">
      <h3>Formats audios supportés</h3>
    </div>
    <div class="eight columns item">
      <h3>MP3</h3>
    </div>
    <div class="eight columns item">
      <h3>Codecs vidéos supportés</h3>
    </div>
    <div class="eight columns item">
      <h3>H264 - H265 - MJPEG - VP8</h3>
    </div>      
    <div class="eight columns item">
      <h3>Codecs audios supportés</h3>
    </div>
    <div class="eight columns item">
      <h3>AAC - MP3 - VORBIS</h3>
    </div>        
    <div class="eight columns item">
      <h3>Protocoles supportés</h3>
    </div>
    <div class="eight columns item">
      <h3>RTP RTMP RTSP SRT HTTP</h3>
    </div>
    <div class="eight columns item">
      <h3>Formats d’images</h3>
    </div>
    <div class="eight columns item">
      <h3>JPEG, PNG</h3>
    </div>        
  </section>
</div>
<hr />
<section id="competences">

  <div class="container">
        <div class="sixteen columns"><h1>Compatible OpenGL ES</h1></div>
        <div class="sixteen columns">Creez des compositions, créez des vidéos, appliquez des filtres, utilisez tout le potentiel graphique de votre smartphone et de votre tablette.</div>
  </div>
</section>

{% include footer.html %}
