{% include header.html %}

    <div class="home">

    <section id="formations">
      <div class="container">
        <div class="sixteen columns"><h1>Formations</h1></div>

        <div class="eight columns">

                <div class="icon"><a href="/formations/developpeur-embarque-yocto-buildroot-android-oem-odm.html"><img src="/images/home/learning/formation-developpeur-embarque.png"></a></div>
                <h3><a href="/formations/developpeur-embarque-yocto-buildroot-android-oem-odm.html">Formation d&eacute;veloppeur embarqu&eacute;</a></h3>
        </div>
        <div class="eight columns">

                <div class="icon"><a href="/formations/developpeur-multimedia-du-capteur-au-spectateur-fpga-gstreamer.html"><img src="/images/home/learning/formation-developpeur-video-du-capteur-au-spectateur.png"></a></div>
                <h3><a href="/formations/developpeur-multimedia-du-capteur-au-spectateur-fpga-gstreamer.html">Formation d&eacute;veloppeur multimédia</a></h3>
                <h4><a href="/formations/developpeur-multimedia-du-capteur-au-spectateur-fpga-gstreamer.html">Du capteur au spectateur</a></h4>
        </div>
      </div>
    </section>
    <hr>
    <section id="prestations">
        <div class="container">
            <div class="sixteen columns"><h1>Services</h1></div>

            <div class="four columns analyse">

                    <div class="icon"><img src="/images/home/skills/developement.png"></div>
                    <h3>Analyse et développement</h3>
                    <ul>
                      <li>Mise en place architecture application</li>
                      <li>Développement web</li>
                      <li>Développement mobile</li>
                    </ul>
            </div>
            <div class="four columns multimedia">
                    <div class="icon"><img src="/images/home/skills/multimedia.png" alt="Dévelopement multimedia"></div>
                    <h3>Développement multimédia</h3>
                    <ul>
                      <li>Aquisition audio / vidéo</li>
                      <li>Analyse de la parole / image</li>
                      <li>Codecs / Conteneurs vidéos</li>
                    </ul>
            </div>
            <div class="four columns infrastructure">

                    <div class="icon"><img src="/images/home/skills/architecture.png" class="Réseaux informatique" alt="cnrs"></div>
                    <h3>Conseil en infrastructure</h3>
                    <ul>
                      <li>Hébergement cloud</li>
                      <li>Hébergement local</li>
                    </ul>
            </div>
            <div class="four columns embedded">

                    <div class="icon"><img src="/images/home/skills/embedded.png" class="Dévelopement embarqué" alt="cnrs"></div>
                    <h3>Développement embarqué</h3>
                    <ul>
                      <li>Stratégie</li>
                      <li>Séléction des composants</li>
                      <li>Développement système</li>
                      <li>Création distribution</li>

                    </ul>
            </div>
        </div>
    </section>
    <hr>
    <section id="competences" class="grey">

    	<div class="container">
            <div class="sixteen columns"><h1>Technologies</h1></div>
            <div class="competences">
                <div class="four columns">
                    <ul>
                        <li><img alt="Logo Symfony" src="/images/home/technologies/symfony.png">Symfony</li>
                        <li><img alt="Logo Wordpress" src="/images/home/technologies/wordpress.png">Wordpress</li>
                        <li><img alt="Logo Jquery" src="/images/home/technologies/jquery.png">JQuery</li>
                        <li><img alt="Logo Java" src="/images/home/technologies/java.png">Java</li>
                </div>
                <div class="four columns">
                    <ul>
                        <li><img alt="Logo OpenGraph" src="/images/home/technologies/opengraph.png">Open Graph</li>
                        <li><img alt="Logo SVN" src="/images/home/technologies/svn.png">Subversion</li>
                        <li><img alt="Logo Git" src="/images/home/technologies/git.png">Git</li>
                        <li><img alt="Logo Debian" src="/images/home/technologies/debian.png">Debian</li>
                    </ul>
                </div>
                <div class="four columns">
                    <ul>
                        <li><img alt="Logo Google" src="/images/home/technologies/google.png">SEO</li>
                        <li><img alt="Logo Google Analytics" src="/images/home/technologies/ga.png">Google Analytics</li>
                        <li><img alt="Logo Proxmox" src="/images/home/technologies/proxmox.png">Proxmox</li>
                        <li><img alt="Logo Wowza Media Server" src="/images/home/technologies/wowza.png">Wowza Media server</li>
                    </ul>
                </div>
                <div class="four columns">
                    <ul>
                        <li><img alt="Logo OpenVPN" src="/images/home/technologies/openvpn.png">OpenVpn</li>
                        <li><img alt="Logo CAS" src="/images/home/technologies/cas.png">CAS</li>
                        <li><img alt="Logo OpenERP" src="/images/home/technologies/openerp.png">Odoo</li>
                        <li><img alt="Logo Play Framework" src="/images/home/technologies/playframework.png">Play framework</li>
                    </ul>
                </div>
        </div>
    </div></section>
    <section id="tarifs">
      <div class="container">
        <div class="sixteen columns"><h1>Tarifs</h1></div>
        <div class="one-third column pricing">
          <h3>Développement</h3>
          <ul>
            <li>Développement application mobile</li>
            <li>Développement application web</li>
            <li>Résolution problème production</li>

            <li class="amount">699 € / Jour</li>
          </ul>
        </div>
        <div class="one-third column pricing">
          <h3>Accompagnement</h3>
          <ul>
            <li>Analyse du m&eacute;tier</li>
            <li>Plan de développement</li>
            <li>Pr&eacute;parer montée en charge</li>
            <li class="amount">999 € / Jour</li>
          </ul>
        </div>
        <div class="one-third column pricing">
          <h3>Formation</h3>
          <ul>
            <li>Sur site</li>
            <li>D&eacute;veloppement embarqu&eacute;</li>
            <li>Et / ou d&eacute;veloppement vid&eacute;o</li>
            <li class="amount">1299 € / Jour</li>

          </ul>
        </div>
    </div>

    </section>
    <hr />
    <section id="references">

    	<div class="container">
            <div class="sixteen columns"><h1>Références</h1></div>
            <div class="references">
                <div class="four columns">

                        <div class="icon"><img src="/images/home/portfolio/kalyzee.png" class="attachment-post-thumbnail wp-post-image" alt="Kalyzee"></div>
                </div>
                <div class="four columns">
                        <div class="icon"><img src="/images/home/portfolio/epitech.png" class="attachment-post-thumbnail wp-post-image" alt="Epitech"></div>
                </div>
                <div class="four columns">
                        <div class="icon"><img src="/images/home/portfolio/amu.png" class="attachment-post-thumbnail wp-post-image" alt="Aix Marseille Université"></div>
                </div>
                <div class="four columns">

                        <div class="icon"><img src="/images/home/portfolio/cnrs.png" class="attachment-post-thumbnail wp-post-image" alt="cnrs"></div>
                </div>
            </div>
        </div>
    </section>


        </div>

{% include footer.html %}
