{% include header.html %}

    <div class="home">
    <div class="background-home-top">
            <section class="block-1">
            		<div class="container">
                		<h1>{{ site.description }}</h1>
                        <p><i class="fa fa-phone"></i> {{ site.phone }} - <i class="fa fa-inbox"></i> <a href="mailto:{{site.email}}">{{site.email}}</a> - <i class="fa fa-skype"></i> {{site.skype_username}}</p>
                        <div class="block-1-image">
                            <img alt="Invite de commande Unix" src="/images/home/home-computers.png">
                        </div>
	            	</div>
        	</section>
    	</div>
    <hr>
    <section id="prestations">
        <div class="container">
            <div class="sixteen columns"><h1>Prestations</h1></div>

            <div class="seven columns">
                <ul>
                    <li><h3><i class="fa fa-code"></i>Développement sur mesure</h3>
                    <p>Développement de site Web ou d'application sur mesure. Accompagnement dans les différentes phases de réfléxion de l'étude de votre besoin jusque la mise en production et la maintenance de votre application.</p>
</li>
                    <li><h3><i class="fa fa-file-text-o"></i>Conception d'architecture logicielle</h3>
                    <p>Vous souhaitez réaliser une application mettant en oeuvre des traitements lourds ? Vous avez besoin d'une application hautement disponible ? Je conçoit votre architecture logicielle et réseau afin de répondre parfaitement à vos besoins.</p></li>
                    <li><h3><i class="fa fa-terminal"></i>Infogérance</h3>
                    <p>Vous souhaitez un prestataire qui assure la maintenance de votre infrastructure réseau. Je vous accompagne de l'audit de l'existant jusque la mise en place d'une assistance en cas d'incident. Je met l'accent sur les critères suivant : Disponibilité, Intégrité, Confidentialité et Traçabilité.</p></li>
                </ul>
            </div>

            <div id="prestations-illustration" class="seven columns offset-by-one infogerance">

            </div>
        </div>
    </section>
    <hr>
    <section id="competences" class="grey">

    	<div class="container">
            <div class="sixteen columns"><h1>Compétences</h1></div>
            <div class="competences">
                <div class="four columns">
                    <ul>
                        <li><img alt="Logo Symfony 2" src="/images/home/skills/symfony2.png">Symfony 2</li>
                        <li><img alt="Logo Wordpress" src="/images/home/skills/wordpress.png">Wordpress</li>
                        <li><img alt="Logo Jquery" src="/images/home/skills/jquery.png">JQuery</li>
                        <li><img alt="Logo Java" src="/images/home/skills/java.png">Java</li>
                </div>
                <div class="four columns">
                    <ul>
                        <li><img alt="Logo OpenGraph" src="/images/home/skills/opengraph.png">Open Graph</li>
                        <li><img alt="Logo SVN" src="/images/home/skills/svn.png">Subversion</li>
                        <li><img alt="Logo Git" src="/images/home/skills/git.png">Git</li>
                        <li><img alt="Logo Debian" src="/images/home/skills/debian.png">Debian</li>
                    </ul>
                </div>
                <div class="four columns">
                    <ul>
                        <li><img alt="Logo Google" src="/images/home/skills/google.png">SEO</li>
                        <li><img alt="Logo Google Analytics" src="/images/home/skills/ga.png">Google Analytics</li>
                        <li><img alt="Logo Proxmox" src="/images/home/skills/proxmox.png">Proxmox</li>
                        <li><img alt="Logo Wowza Media Server" src="/images/home/skills/wowza.png">Wowza Media server</li>
                    </ul>
                </div>
                <div class="four columns">
                    <ul>
                        <li><img alt="Logo OpenVPN" src="/images/home/skills/openvpn.png">OpenVpn</li>
                        <li><img alt="Logo CAS" src="/images/home/skills/cas.png">CAS</li>
                        <li><img alt="Logo OpenERP" src="/images/home/skills/openerp.png">OpenERP</li>
                        <li><img alt="Logo Play Framework" src="/images/home/skills/playframework.png">Play framework</li>
                    </ul>
                </div>
        </div>
    </div></section>


    <section id="references">

    	<div class="container">
            <div class="sixteen columns"><h1>Références</h1></div>
            <div class="references">
                <div class="one-third column">

                        <div class="icon"><img src="/images/home/portfolio/kalyzee.png" class="attachment-post-thumbnail wp-post-image" alt="Kalyzee"></div>
                        <h3>Kalyzée</h3>
                        <h4>Co foundateur Kalyzée - Architecture réseau, développement, intégration d'algorithmes d'analyse - <a href="http://www.kalyzee.com/">www.kalyzee.com</a></h4>
                </div>
                <div class="one-third column">
                        <div class="icon"><img src="/images/home/portfolio/amu.png" class="attachment-post-thumbnail wp-post-image" alt="Aix Marseille Université"></div>
                        <h3>Aix Marseille Université</h3>
                        <h4><a href="http://www.activpik.tv/">Plateforme vidéo Y-2013</a></h4>
                </div>
                <div class="one-third column">

                        <div class="icon"><img src="/images/home/portfolio/cnrs.png" class="attachment-post-thumbnail wp-post-image" alt="cnrs"></div>
                        <h3>CNRS</h3>
                        <h4><a href="http://cigale.oamp.fr/cigale-online/">Développement WebService et interfaces pour application scientifiques</a></h4>
                    </div>
            </div>
        </div>
    </section>


    <section id="contact" class="black contact fullform">
    	<div class="container">

        </div>
    </section>
        </div>

{% include footer.html %}
