{% include header.html %}

    <div class="home">

    <section id="formations">
      <div class="container">
        <div class="sixteen columns"><h1>Formations</h1></div>
        <div class="eight columns">

          <div class="icon"><img src="/images/home/learning/formation-android-aosp.png"></div>
          <h3>Formation AOSP</h3>
          <h4>Personnalisez votre système Android</h4>
          <h4>Adaptez Android pour votre nouveau périphérique</h4>
  </div>
        <div class="eight columns">

                <div class="icon"><img src="/images/home/learning/formation-gstreamer.png"></a></div>
                <h3><a href="formations/developpeur-multimedia-du-capteur-au-spectateur-fpga-gstreamer.html">Formation Gstreamer</h3>
                <h4><a href="formations/developpeur-multimedia-du-capteur-au-spectateur-fpga-gstreamer.html">Développez des applications multimédia avancées</h4>
                <h4><a href="formations/developpeur-multimedia-du-capteur-au-spectateur-fpga-gstreamer.html">Capture vidéo, Montage, ...</a></h4>

              </div>
      </div>
    </section>
    <hr>

    <section id="produits">
      <div class="container">
        <div class="sixteen columns"><h1>Produits</h1></div>

        <div class="eight columns">

                <div class="icon"><img src="/images/home/products/onvif-camera-manager.png"></a></div>
                <h3>Onvif Camera Manager</h3>
                <h4>Gestion multicamera Onvif depuis une application Android et IOS</h4>
                <h4>Produit sous licence me contacter pour plus d'informations</h4>
        </div>
        <div class="eight columns">

          <div class="icon"><a href="/produits/react-native-multimedia-framework-gstreamer.html"><img src="/images/home/products/player.png"></a></div>
          <h3><a href="/produits/react-native-multimedia-framework-gstreamer.html">React Native Multimedia Framework</a></h3>
          <h4><a href="/produits/react-native-multimedia-framework-gstreamer.html">Lecteur vidéo avec support RTP, RTSP multiplateforme (IOS / Android)</a></h4>

          </div>

        <div class="sixteen columns">

                <div class="icon"><img src="/images/home/products/visio.png"></div>
                <h3>Application Visioconférence en marque blanche</a></h3>
                <h4>Kit complet application visioconférence pour IOS, Android, Web avec Back office de gestion</a></h4>
                <h4>Produit sous licence me contacter pour plus d'informations</h4>
        </div>

        </div>
      </div>
    </section>
    <hr />    
    <section id="prestations">
        <div class="container">
            <div class="sixteen columns"><h1>Services</h1></div>

            <div class="four columns multimedia">
                    <div class="icon"><img src="/images/home/skills/multimedia.png" alt="Développement player multimédia web / mobile"></div>
                    <h3>Développement player multimédia web / mobile</h3>
                    <ul>
                      <li>IOS</li>
                      <li>Android</li>
                      <li>HTML 5</li>
                    </ul>
            </div>
            <div class="four columns analyse">

              <div class="icon"><img src="/images/home/skills/architecture.png"></div>
              <h3>Développement plateforme vidéo</h3>
              <ul>
                <li>Mise en place architecture application</li>
                <li>Développement web</li>
                <li>Serveur de streaming</li>
              </ul>
            </div>            
            <div class="four columns infrastructure">

                    <div class="icon"><img src="/images/home/skills/embedded.png" alt="Développement vidéo embarqué"></div>
                    <h3>Développement vidéo / embarqué</h3>
                    <ul>
                      <li>AOSP / Buildroot / Yocto</li>
                      <li>Gstreamer</li>
                      <li>Nvidia, Hisilicon</li>
                    </ul>
            </div>
            <div class="four columns embedded">

                    <div class="icon"><img src="/images/home/skills/processing.png" class="Traitement automatique multimédia"></div>
                    <h3>Traitement automatique multimédia</h3>
                    <ul>
                      <li>Développement logiciel d'analyse de la parole</li>
                      <li>Développement logiciel d'analyse d'image</li>
                      <li>Développement logiciel de montage automatique</li>

                    </ul>
            </div>
        </div>
    </section>
    <hr>
    <section id="competences" class="grey">
    	<div class="container">
            <div class="sixteen columns"><h1>Technologies</h1></div>
            <div class="competences">
                {% for technology in site.technologies %}
                  <div class="four columns">
                    <ul><li><img alt="{{ technology.name }}" src="{{ technology.picture }}">{{ technology.name }}</li></ul>
                  </div>
                {% endfor %}
        </div>
    </section>
    <section id="tarifs">
      <div class="container">
        <div class="sixteen columns"><h1>Tarifs</h1></div>
        <div class="eight columns pricing">
          <h3>Développement</h3>
          <ul>
            <li>Développement plateforme vidéo</li>
            <li>Développement player multimédia web / mobile</li> 
            <li>Développement vidéo embarqué</li>
            <li>Traitement automatique multimédia</li>

            <li class="amount">699 € / jour</li>
          </ul>
        </div>
        <div class="eight columns pricing">
          <h3>Formation</h3>
          <ul>
            <li>Sur site</li>
            <li>Formation AOSP</li>
            <li>Formation Buildroot</li>
            <li>Formation Gstreamer</li>
            <li class="amount">1299 € / jour</li>

          </ul>
        </div>
    </div>

    </section>
    <hr />
    <section id="references">

    	<div class="container">
            <div class="sixteen columns"><h1>Références</h1></div>
            <div class="references">
              {% for portfolio in site.portfolio %}
                <div class="four columns">
                  <div class="icon"><img src="{{portfolio.picture}}" alt="{{portfolio.name}}" /></div>
                </div>
              {% endfor %}

            </div>
        </div>
    </section>

  </div>
    
{% include footer.html %}
